// Define variables
$text-color: #3D3D3D;
$background-color: #6D6D6D;

// Apply styles using variables
body {
  color: $text-color;
  background-color: $background-color;
}

p {
  color: $text-color;
}

h2 {
  background-color: $background-color;
}
